*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%
}

body {
  text-align: center;
  background-size: cover;
  background-position: center;
  color: black;
  font-family: helvetica;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    z-index: -1;
  }
}

p {
  font-size: 22px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: rgb(126, 126, 114);
  color: white;
}